# Weather data analysis

In this playground notebook I will explore some data analysis strategies through the weather data of the City of Curitiba, Brazil. 

## Index
* <a href="#sec1">1. Introduction</a>  
    * <a href="#sec1.1">1.1 Initial statements</a>
    * <a href="#sec1.2">1.2 Loading data</a>

<a id='intro'></a>
## 1. Introduction

<a id='sec1.1'></a>
### 1.1. Initial statements

In [3]:
# Data analysis packages:
import pandas as pd
import numpy as np
#from datetime import datetime as dt

# Visualization packages:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

<a id='sec1.2'></a>
### 1.2. Loading data

In [7]:
data = pd.read_csv('Station_83842.csv',sep=';')

In [8]:
data.head()

,Estacao,Data,Hora,TempBulboSeco,TempBulboUmido,UmidadeRelativa,PressaoAtmEstacao,DirecaoVento,VelocidadeVento,Nebulosidade,Unnamed: 10
0,83842,01/01/2000,0,19.7,19.1,94,905.2,9.0,1.8,0.0,NaN
1,83842,01/01/2000,1200,19.0,18.3,93,906.3,9.0,2.6,10.0,NaN
2,83842,01/01/2000,1800,20.3,17.9,77,907.4,14.0,3.3,10.0,NaN
3,83842,02/01/2000,0,17.2,17.0,97,905.6,14.0,3.5,10.0,NaN
4,83842,02/01/2000,1200,18.8,17.6,88,907.0,9.0,3.5,8.0,NaN

In [9]:
data.columns

Index(['Estacao', 'Data', 'Hora', 'TempBulboSeco', 'TempBulboUmido',
       'UmidadeRelativa', 'PressaoAtmEstacao', 'DirecaoVento',
       'VelocidadeVento', 'Nebulosidade', 'Unnamed: 10'],
      dtype='object')

In [12]:
## There're data from only one station:
data.Estacao.unique()

array([83842])

The first and the last columns are useless, since data come from only one station. The last column is due to a final ';' in the end of each line.

In [22]:
newColumns = list(data.columns)[1:-1]

In [23]:
data = data[newColumns]

In [24]:
data.head()

,Data,Hora,TempBulboSeco,TempBulboUmido,UmidadeRelativa,PressaoAtmEstacao,DirecaoVento,VelocidadeVento,Nebulosidade
0,01/01/2000,0,19.7,19.1,94,905.2,9.0,1.8,0.0
1,01/01/2000,1200,19.0,18.3,93,906.3,9.0,2.6,10.0
2,01/01/2000,1800,20.3,17.9,77,907.4,14.0,3.3,10.0
3,02/01/2000,0,17.2,17.0,97,905.6,14.0,3.5,10.0
4,02/01/2000,1200,18.8,17.6,88,907.0,9.0,3.5,8.0